<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>fpTracking</title>
	</head>
	<body>
		<h1>fpTracking</h1>
		<br>

		<form id="fpTrackingParallelForm">
			Number of fingerprints : <input type="text" name="fpTrackingParallelNumber" placeholder="Number"><br>
			Minimum number of fingerprints per user : 
			<input type="text" name="fpTrackingParallelMinNbPerUser" placeholder="nbMinPerUser"><br>
			Visit frequency : <br>
			1 : <input type="checkbox" name="fpTrackingParallelVisitFrequency" value="1">
			2 : <input type="checkbox" name="fpTrackingParallelVisitFrequency" value="2">
			3 : <input type="checkbox" name="fpTrackingParallelVisitFrequency" value="3"><br>
			4 : <input type="checkbox" name="fpTrackingParallelVisitFrequency" value="4">
			5 : <input type="checkbox" name="fpTrackingParallelVisitFrequency" value="5">
			6 : <input type="checkbox" name="fpTrackingParallelVisitFrequency" value="6"><br>
			7 : <input type="checkbox" name="fpTrackingParallelVisitFrequency" value="7">
			8 : <input type="checkbox" name="fpTrackingParallelVisitFrequency" value="8">
			9 : <input type="checkbox" name="fpTrackingParallelVisitFrequency" value="9"><br>
			10 : <input type="checkbox" name="fpTrackingParallelVisitFrequency" value="10">
			15 : <input type="checkbox" name="fpTrackingParallelVisitFrequency" value="15">
			20 : <input type="checkbox" name="fpTrackingParallelVisitFrequency" value="20"><br>
			<input type="submit" value="Launch the tracking program">
		</form>

		<span id="testSpanId"></span>

		<script src="/static/js/jquery-3.3.1.js"></script>
		<script src="/static/js/fpTracking-script.js"></script>
	</body>
</html>